## Project information
site_name: Mappatura dei procedimenti amministrativi per la digitalizzazione
site_url: https://uo-transizionedigitalecomunepalermo.github.io/mappatura-procedimenti-amministrativi/
# site_description:

## Repository
repo_name: mappatura-procedimenti-amministrativi
repo_url: https://github.com/UO-TransizioneDigitaleComunePalermo/mappatura-procedimenti-amministrativi
edit_uri: edit/main/docs/ #disables edit button

# Copyright
copyright: <img src="https://img.shields.io/github/last-commit/uo-transizionedigitalecomunepalermo/mappatura-procedimenti-amministrativi.svg?&label=ultimo_aggiornamento">
           <img src="https://img.shields.io/github/license/uo-transizionedigitalecomunepalermo/mappatura-procedimenti-amministrativi"> <br>


## Social Media
extra:
# manifest: "manifest.webmanifest"
  disqus: mkdocs
  social:
    - icon: fontawesome/solid/file-pdf
      link: https://uo-transizionedigitalecomunepalermo.github.io/mappatura-procedimenti-amministrativi/print_page/
      name: Scarica il documento in formato PDF
    - icon: octicons/comment-discussion-16
      link: https://github.com/UO-TransizioneDigitaleComunePalermo/mappatura-procedimenti-amministrativi/discussions
      name: Forum sulla mappatura dei procedimenti amministrativi
    - icon: fontawesome/brands/twitter
      link: http://twitter.com/cirospat
      name: account Twitter
    - icon: fontawesome/brands/medium
      link: https://cirospat.medium.com/
      name: account Medium
    - icon: fontawesome/brands/github
      link: https://github.com/UO-TransizioneDigitaleComunePalermo/mappatura-procedimenti-amministrativi
      name: Repoisitory GitHub
    - icon: fontawesome/solid/envelope
      link: mailto:c.spataro@comune.palermo.it
      name: mail to c.spataro@comune.palermo.it
    - icon: fontawesome/solid/home
      link: https://uo-transizionedigitalecomunepalermo.github.io/mappatura-procedimenti-amministrativi
      name: Home Page
  # analytics:
  # provider: google
  # property: usa il tuo codice


## Configuration
theme:
  name: material
  custom_dir: docs/overrides/
  static_templates:
    - 404.html
  language: it
  features:
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky   # visualizza il menù della navigation bar anche quando si va giù nella pagina (va in contrasto con il back-to-top di default)
    - navigation.tracking
 #  - navigation.sections      # prova (https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-sections)
 #  - navigation.expand        # prova (https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-expansion)
 #  - navigation.instant       # va in conflitto con i bei grafi di mergemaid
    - search.suggest
    - search.highlight
    - search.share
    - content.code.annotate       # riferimento https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#adding-annotations
 #  - content.tabs.link           # riferimento= https://squidfunk.github.io/mkdocs-material/reference/content-tabs/#linked-content-tabs
 #  - toc.integrate

  palette:
    - scheme: default
      primary: white           # setting colori = https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#configuration
      accent: red              # setting colori = https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#configuration
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Lato
    code: Roboto Mono
  favicon: img/logo1.png
  icon:
    repo: fontawesome/brands/github
  logo: img/logo1.png

## Plugins
plugins:
- search
- git-revision-date-localized:         # per funzionare bisogna installare plugin relativo su gh-pages.yml 
    type: timeago
    fallback_to_build_date: false
    enable_creation_date: true
    enabled: true
# - mkdocstrings
# - autolinks
# - macros
- print-site:
    add_to_navigation: false
    print_page_title: 'Documentazione in formato PDF'
    add_print_site_banner: true
    print_site_banner_template: "docs/pdf/banner.tpl"
    # Table of contents
    add_table_of_contents: true
    toc_title: 'Documentazione in formato PDF'
    toc_depth: 6
    # Content-related
    add_full_urls: true
    enumerate_headings: true
    enumerate_figures: true
    add_cover_page: true
    cover_page_template: "docs/pdf/cover_page.tpl"
    path_to_pdf: "nome_file.pdf"
    exclude:



## markdown extension
markdown_extensions:
- toc:
        permalink: ↵
        toc_depth: 3
- meta
- mkdocs-click
- pymdownx.highlight
- pymdownx.inlinehilite
- pymdownx.superfences
- pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.critic:
      mode: view
- pymdownx.betterem:
      smart_enable: all
- pymdownx.caret
- pymdownx.mark
- pymdownx.tilde
- pymdownx.keys
- pymdownx.smartsymbols
- admonition
- pymdownx.details
- pymdownx.tasklist:
      clickable_checkbox: true
- pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
- attr_list
- def_list
- abbr
- pymdownx.snippets
- footnotes
- md_in_html
- tables


## Custom theme additions
extra_javascript:
   - stylesheets/extra.js
   - https://unpkg.com/mermaid/dist/mermaid.min.js

## extra CSS
extra_css:
   - stylesheets/extra.css


## Page tree
# ogni file .md corrisponde ad una pagina web
nav:
    - Home: index.md

    - Focus giuridico:
        - Focus giuridico sui procedimenti: contenuti/focus-giuridico.md
        - I procedimenti amministrativi visti dal "CAD": contenuti/cad.md

    - Mappatura:
        - Percorsi di digitalizzazione in ambito comuale: contenuti/digitalizzazione-ambito-comunale.md
        - L'analisi dei procedimenti nel Piano della Performance: contenuti/esperienza-analisi.md

    - Metadati:
        - I metadati nella mappatura dei procedimenti: contenuti/metadati.md
        - Metadati minimi di determinazioni e deliberazioni: contenuti/metadati-determinazione-deliberazione.md
        - Uno schema di metadati usato nella mappatura dei procedimenti: contenuti/schema-metadati.md
        - Un esperienza di mappatura con metadati: contenuti/esperienza-metadatazione.md

    - Fasi operative:
        - Fasi operative dei procedimenti: contenuti/fasi-operative.md

    - Reingegnerizzazione: contenuti/reingegnerizzazione.md

    - Catalogo:
        - Dalla mappatura al catalogo dei procedimenti: contenuti/catalogo.md

    - Linkografia:
        - Linkografia essenziale: contenuti/linkografia.md

    - Redazione:
        - Redazione: contenuti/redazione.md

    - Strumenti: contenuti/strumenti.md

    - Forum →: https://github.com/UO-TransizioneDigitaleComunePalermo/mappatura-procedimenti-amministrativi/discussions

