@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* forza il back to top a tornare in basso */
.md-top {
    background: var(--md-primary-fg-color); 
    border-radius: 100%; 
    bottom: .4rem; 
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 10%), 0 0.025rem 0.05rem rgb(0 0 0 / 10%); 
    color: var(--md-primary-bg-color); 
    float: right; 
    margin: -2.8rem .4rem .4rem;
    padding: .4rem; 
    position: -webkit-sticky; 
    position: sticky; 
    transform: translateY(0)!important; 
    transition: opacity 125ms,transform 125ms cubic-bezier(.4,0,.2,1),background-color 125ms; 
    z-index: 1; 
	font-size: 0px!important; 
}
 /*sposta più in alto il back to top in mobile se è installata la condivisione social;*/
 @media screen and (max-width: 1100px) { .md-top {bottom: 2.5rem!important;}} 


/* Active tab bold & color */
.md-tabs__link {
    font-size: .75rem !important;          /* di default era 75 */
}
.md-tabs__link--active {
    font-weight: bold !important;
    color: var(--md-accent-fg-color);
}
.md-tabs__link:hover {
    color: var(--md-accent-fg-color);
}


/* Regolare font size del titolo nell'header */
.md-header__title {
    flex-grow: 1;
    font-size: .8rem; !important;   /* di default era 9 */
    height: 2.4rem;
    line-height: 2.4rem;
    margin-left: 1rem;
    margin-right: .4rem;
}




/* regolare colore della navigation bar (sotto l'header con titolo progetto). Prova 10 nov 2021  */
.md-tabs {
    background-color: #e9e9e9;
    color: var(--md-primary-bg-color);
    overflow: auto;
    width: 100%;
}



/* regolare colore della dell'header con titolo progetto. Prova 10 nov 2021  */
.md-header {
    background-color: #cfcfcf;
    box-shadow: 0 0 .2rem transparent,0 .2rem .4rem transparent;
    color: var(--md-primary-bg-color);
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 3;
}




/* navigation bar active color*/
.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    color: var(--md-accent-fg-color);
}
.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    font-size: .75rem !important;
    color: var(--md-accent-fg-color);
}


/* frontpage elements */
.tx-hero h1 {
    font-size: 2.41rem !important;
}
a.md-button.md-button--primary {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: #ffffff;
}
a.md-button.md-button--primary:hover {
    color: #000000;
}
a.md-button.md-button:hover {
    color: #000000;
}
/* gbvitrano per opendatasicilia*/

/*Table styling*/
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 0px solid #cccccc;
      text-align: centre;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 0px solid #cccccc;
      text-align: centre;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


/* regolare dimensioni carattere delle tabelle (prova 13 nov 2021). Modificato solo il font-size.  
.md-typeset table:not([class]) {
    background-color: var(--md-default-bg-color);
    border: .05rem solid var(--md-typeset-table-color);
    border-radius: .1rem;
    display: inline-block;
    font-size: .75rem !important;
    max-width: 100%;
    overflow: auto;
    touch-action: auto;
} */



/*Tabbed extension css*/
.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.tabbed-set .highlight {
  background: #ddd;
}
.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}
.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}
.tabbed-set input {
  position: absolute;
  opacity: 0;
}
.tabbed-set input:nth-child(n+1) {
  color: #333333;
}
.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}
.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}


/* Admonition settings option*/
.md-typeset .admonition.settings, .md-typeset details.settings {
    border-left: .22rem solid #448aff;
}
.md-typeset .admonition.settings>.admonition-title, .md-typeset details.settings>.admonition-title, .md-typeset details.settings>summary {
    border-bottom: .1rem solid rgba(236, 243, 255), .1);
    background-color: rgba(236, 243, 255), .1);
}
.md-typeset .admonition.settings>.admonition-title:before, .md-typeset details.settings>.admonition-title:before, .md-typeset details.settings>summary:before {
    color: #448aff;
    content: "settings"}

/* mkdocstrings styling
/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}
/* errore 404 centra immagine nella pagina */
.centerimg {
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #fff;*/
  padding-top: 6.5rem;
  padding-bottom: 3rem;
  text-align: center;
  background-image:url(../img/404.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  height: 480px;} 

/* rettangolo info stampa pdf */  
#print-site-banner {border-color: #ff0000!important; border-radius: 10px!important; }

/*mod. altezza footer prev/next*/
.md-footer__link {padding-bottom: .1rem!important; padding-top: .2rem!important; }

/* cambia colore al footer e a page next/pre*/
.md-footer { background-color:var(--md-default-bg-color); color: var(--md-default-fg-color);}
.md-footer-meta {    background-color: var(--md-footer-bg-color);}


/* cambia colore al header nero sopra il menù cioè = announcement bar  
.md-banner { background-color: #2a2369;!important; }  */


/* cambia colore al header nero sopra il menù cioè = announcement bar (cambiato 9 nov 2021) 
.md-announce { background-color: #eaeaea;!important; } */


/* Content area width (https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#content-area-width) */
.md-grid {
  max-width: 1200px; 
}
